* {
	font-family: "Lucida Console";
}

.chart-container {
	margin-top: 50px;
	display: flex; 
	justify-content: center;
}

.result-container {
	margin: 100px 100px 20px 100px;
	display: flex; 
	justify-content: center;
}

.coefficients-container {
	margin: 20px 100px 20px 100px;
	padding-left: 130px;
	display: flex; 
	justify-content: center;
}

.data-container {
	margin: 20px 100px 20px -15px;
	padding-left: 130px;
	display: flex; 
	justify-content: center;
}